     <!-- </article> -->
            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                <!-- <h3>Arte</h3> -->
                <!-- <img src="/images/arte/organico-oro.jpg">
                <img class="top"src="images/arte/caras-lovers.jpg">
                </div> -->
            <!-- </article> -->

            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                    <!-- <h3>Botanica</h3> -->
                    <!-- <img src="/images/botanica/flor-rosa-en-agua.jpg">
                    <img class="top"src="images/botanica/trigo-primer-plano.jpg">
                    </div> -->
            <!-- </article> -->

            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                    <!-- <h3>Ciudades</h3> -->
                    <!-- <img src="/images/ciudades/reflejo-en-el-agua.jpg">
                    <img class="top"src="images/ciudades/downtown-buenos-aires.jpg">
                    </div> -->
            <!-- </article> -->

            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                    <!-- <h3>Frases</h3> -->
                    <!-- <img src="/images/frases/coco chanel.jpg">
                    <img class="top"src="images/frases/hakuna-matata.jpg">
                    </div> -->
            <!-- </article> -->

            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                    <!-- <h3>Naturaleza</h3> -->
                    <!-- <img src="/images/naturaleza/lonely-lodge.jpg">
                    <img class="top"src="images/naturaleza/rise-and-shine.jpg">
                    </div> -->
                <!-- </article> -->

            <!-- <article class="categoria-individual"> -->
                <!-- <div class="categoriascuadros"> -->
                    <!-- <h3>Sets Combinados</h3> -->
                    <!-- <img src="/images/sets-combinados/mr-and-mrs.jpg">
                    <img class="top"src="images/sets-combinados/paris-mas-peonias.jpg">
                    </div> -->
            <!-- </article> -->
        <!-- </div> -->