<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container">
    <section class="shopping-title">
        <h1>Carrito de compras</h1>
    </section>
    <div class="shopping-container">
    <section class="shopping-cart-first">
        <div class="cart-hero">
            <div class="cart-hero-left">
                <figure>
                    <img src="/images/animales/Buho.jpg" alt="">
                </figure>
            </div>
            <div class="cart-hero-center">
                <h4>owl with light blue eyes</h4>
                <p>medidas</p>
                <p>precio unidad</p>
                <p class="cart-price">precio</p>
                <form action="cart-hero-quantity">
                    <button class="cart-hero-center-minus"><i class="fas fa-minus"></i></button>
                    <input type="text">
                    <button class="cart-hero-center-plus"><i class="fas fa-plus"></i></button>
                </form>

            </div>
            <div class="cart-hero-right">
                <button class="cart-hero-trash"><i class="fas fa-trash"></i></button>
            </div>
        
        </div>
        <hr>
        <div class="cart-hero">
            <div class="cart-hero-left">
                <figure>
                    <img src="/images/animales/ciervos.jpg" alt="">
                </figure>
            </div>
            <div class="cart-hero-center">
                <h4 class="cart-hero-title">ciervos</h4>
                <p>medidas</p>
                <p>precio unidad</p>
                <p class="cart-price">precio</p>
                <form action="cart-hero-quantity">
                    <button class="cart-hero-center-minus"><i class="fas fa-minus"></i></button>
                    <input type="text">
                    <button class="cart-hero-center-plus"><i class="fas fa-plus"></i></button>
                </form>

            </div>
            <div class="cart-hero-right">
                <button class="cart-hero-trash"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </section>
    
    <section class="shopping-cart-last">
        <div class="cart-half shopping-border">
            <h3>Subtotal(sin envío)</h3>
            <p class="price">precio</p>
        </div>
        <hr>
        <div class="cart-calculate shopping-border">
            <h3>Calculá el envío</h3>
            <div class="cart-calculate-postal">

                <form action="">
                    <button><i class="fas fa-truck"></i></button>
                    <input type="text" placeholder="Ingresá tu CP">
                </form>
            </div>
        </div>
        <hr>
        <div class="cart-total shopping-border">
            <h3>Total</h3>
            <p class="price">price</p>
        </div>
        <hr>
        <div class="cart-btn-buy shopping-border">
            <button>Comprar</button>
        </div>
    </section>
</div>
</div>
    <%- include('./partials/footer') %>
</body>
</html>