<div class="background-cart" id="show-cart">
    <div class="cart">
        <div class="cart-title">
            <h2>Carrito de compras</h2>
            <i class="fas fa-times cart-close" id="close-cart"></i>
        </div>
        <hr>
        <div class="cart-subtitle">
            <h3>Productos seleccionados</h3>
        </div>
        <hr>
        <div class="cart-hero">
            <div class="cart-hero-left">
                <figure>
                    <img src="/images/animales/Buho.jpg" alt="">
                </figure>
            </div>
            <div class="cart-hero-center">
                <h4>owl with light blue eyes</h4>
                <p>medidas</p>
                <p>precio unidad</p>
                <p class="cart-price">precio</p>
                <form action="cart-hero-quantity">
                    <button class="cart-hero-center-minus"><i class="fas fa-minus"></i></button>
                    <input type="text">
                    <button class="cart-hero-center-plus"><i class="fas fa-plus"></i></button>
                </form>

            </div>
            <div class="cart-hero-right">
                <button class="cart-hero-trash"><i class="fas fa-trash"></i></button>
            </div>
        </div>

        <hr>
        <div class="cart-hero">
            <div class="cart-hero-left">
                <figure>
                    <img src="/images/animales/ciervos.jpg" alt="">
                </figure>
            </div>
            <div class="cart-hero-center">
                <h4>ciervos</h4>
                <p>medidas</p>
                <p>precio unidad</p>
                <p class="cart-price">precio</p>
                <form action="cart-hero-quantity">
                    <button class="cart-hero-center-minus"><i class="fas fa-minus"></i></button>
                    <input type="text">
                    <button class="cart-hero-center-plus"><i class="fas fa-plus"></i></button>
                </form>

            </div>
            <div class="cart-hero-right">
                <button class="cart-hero-trash"><i class="fas fa-trash"></i></button>
            </div>
        </div>

        <hr>
        <div class="cart-half">
            <h3>Subtotal(sin envío)</h3>
            <p class="price">precio</p>
        </div>
        <hr>
        <div class="cart-calculate">
            <h3>Calculá el envío</h3>
            <div class="cart-calculate-postal">

                <form action="">
                    <button><i class="fas fa-truck"></i></button>
                    <input type="text" placeholder="Ingresá tu CP">
                </form>
            </div>
        </div>
        <hr>
        <div class="cart-total">
            <h3>Total</h3>
            <p class="price">price</p>
        </div>
        <hr>
        <div class="cart-btn-buy">
            <button>Comprar</button>
        </div>
    </div>
</div>