<div class="container">
<header>
    <div class="header-left">
        <!-- Logo -->
        <figure class="logo">
            <a href="">
                <img src="../images/logoNegro.png" alt="" width="100%">
            </a>
        </figure>
    </div>
    <div class="header-center">
        <!-- Searcher -->
        <form class="nav-search" action="">
            <button class="nav-search-btn" type="submit"><i class="fas fa-search"></i></button>
            <input type="text" class="nav-search-input" placeholder="Buscar">
        </form>
         <!-- Menu -->
        <nav class="menu">
            <ul>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-right">
        <!-- Burguer Menu -->
        <div class="burger-menu">
            <i class="fas fa-bars Burguer"></i>
        </div>
        <!-- LogIn and Register -->
            <div class="header-btns-container">
                <a href="#" class="header-btn" id="abrir">Iniciar Sesión</a>
                <div id="miModal" class="modal">
                    <div class="flex" id="flex">
                        <div class="contenido-modal">
                            <div class="modal-header flex">
                                <div class="modal-header-div">
                                <p class="modalheading">Ingresar a</p>
                                <a href="#" class="logomodalcont">
                                    <img src="../../Images/logoNegro.png" class="logomodal">
                                </a>
                                </div>
                                <span class="close" id="close">&times;</span>
                            </div>
                            <div class="modal-body">
                                <form class="login" action="/index" method="POST">
                                    <div class="emaildiv">
                                    <i class="fas fa-envelope"></i>
                                    <label>Email</label>
                                    </div>
                                   <input type="email" class="loginemail" name="email"></input>
                                   <div class="passworddiv">
                                   <i class="fas fa-lock"></i>
                                    <label>Contraseña</label>
                                    </div>
                                    <input type="password" class="loginpassword" name="password"></input>
                                    <a href="#" class="forgotpass">Olvide mi contraseña</a>
                                    <button type="submit" class="loginbutton">Ingresar</button> 
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
                <script src="/JS/modal.js"></script>
                <hr class="btns-line">
                <a href="#" class="header-btn" id="abrir">Crear Cuenta</a>
            </div>
        <!-- Cart -->
        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</header>
</div>