<header>
    <div class="header-left">
        <!-- Logo -->
        <figure class="logo">
            <a href="">
                <img src="../images/logoNegro.png" alt="" width="100%">
            </a>
        </figure>
    </div>
    <div class="header-center">
        <!-- Searcher -->
        <form class="nav-search" action="">
            <button class="nav-search-btn" type="submit"><i class="fas fa-search"></i></button>
            <input type="text" class="nav-search-input" placeholder="Buscar">
        </form>
         <!-- Menu -->
        <nav class="menu">
            <ul>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
                <li><a href="">UnLink</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-right">
        <!-- Burguer Menu -->
        <div class="burger-menu">
            <i class="fas fa-bars Burguer"></i>
        </div>
        <!-- LogIn and Register -->
            <div class="btnsCont">
                <button class="btn">Iniciar Sesión</button>
                <hr class="btns-line">
                <button class="btn">Crear Cuenta</button>
            </div>
        <!-- Cart -->
        <div class="cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</header>