<div class="menu-mobile" id="show-mobile-menu">
    <figure class="menu-mobile-logo">
        <i class="fas fa-times menu-mobile-close" id="close-mobile-menu"></i>
        <a href="">
            <img src="../images/logoBlanco.png" alt="" width="100%">
        </a>
    </figure>
    <div class="menu-mobile-links">
        <ul>
            <li><p id="open-login">Iniciar Sesión</p></li>
            <li><p id="open-registration">Registrate</p></li>
            <li><a href="">Categorías</a></li>
            <li><a href="">Nosotros</a></li>
        </ul>
    </div>
</div>