<div class="menu-mobile">
    <figure class="menu-mobile-logo">
        <i class="fas fa-times cart-close menu-mobile-close"></i>
        <a href="">
            <img src="../images/logoBlanco.png" alt="" width="100%">
        </a>
    </figure>
    <div class="menu-mobile-links">
        <ul>
            <li><a href="">Iniciar Sesión</a></li>
            <li><a href="">Registrate</a></li>
            <li><a href="">Categorías</a></li>
            <li><a href="">Nosotros</a></li>
        </ul>
    </div>
</div>