<div id="miModal2" class="modal">
    <div class="flex" id="flex2">
        <div class="contenido-modal">
            <div class="modal-header flex">
                <div class="modal-header-div">
                    <p class="modalheading">Unite a</p>
                    <a href="#" class="logomodalcont">
                        <img src="../../Images/logoNegro.png" class="logomodal">
                    </a>
                </div>
                <span class="close" id="close2">&times;</span>
            </div>
            <div class="modal-body">
                <form class="register" action="/index" method="POST">
                    <label>Nombre(s)</label>
                    <input></input>
                    <label>Apellido(s)</label>
                    <input></input>
                    <div class="emaildiv">
                        <i class="fas fa-envelope"></i>
                        <label>Email</label>
                    </div>
                    <input></input>
                    <div class="passworddiv">
                        <i class="fas fa-lock"></i>
                        <label>Contraseña</label>
                    </div>
                    <input></input>
                    <label> Reingrese su Contraseña</label>
                    <input></input>
                    <p>Todos los campos son obligatorios</p>
                    <div class="checkboxnews">
                        <input type="checkbox" class="checkbox"></input>
                        <p>Acepto Recibir Newsletters con novedades, promociones y actualizaciones.</p>
                    </div>
                    <p>Al hacer click en "Crear Cuenta", usted esta aceptando las Condiciones de uso y la politica de
                        privacidad de WallPic</p>

                    <button type="submit" class="loginbutton">Crear Cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>
