* {
    box-sizing: border-box;
}

/* Variables */

:root {
    --light-grey       : #F2F2F2;
    --intermediate-grey: #E8E8E8;
    --strong-grey      : #666666;
    --dark-grey        : #333333;
    --primary-font     : 'Roboto', sans-serif;
    --secundary-font   : 'Open Sans', sans-serif;
} 

/* Container */

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
}

/*** Body ***/

body {
    background: var(--light-grey);
}

/*** Header ***/

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    /* background: var(--light-grey); */
    font-family: var(--primary-font);
    font-size: 20px;
}

.header-right {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: none;
}

.header-btns-container {
    display: none;
}

.logo {
    margin: 0;
    padding: .2em;
}

.logo a {
    display: flex;
}

.nav-search {
    display: flex;
}

.nav-search-input {
    width: 90%;
    border: none;
    font-size: 1em;
}

.nav-search-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.burger-menu,
.cart {
    text-align: center;
    cursor: pointer;
}
.loginbtn {
    
        border: 2px solid black;
        background: white;
        padding: 4px;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;

}

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5) ;
    
    }
    .contenido-modal{
        position: relative;
        background-color: white;
        margin: auto;
        width: 35%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        animation-name: modal;
        animation-duration: 1s;
        margin-top: 20%;
        border-radius: 25px;
    }
    @keyframes modal {
        from{top: -330px; opacity: 0;}
        to {top: 0; opacity: 1;}
    }
    .close{
        color:black;
        font-size: 30px;
        font-weight: bold;
    }
    .close:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header{
        padding: 8px 16px;
        color:black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 25px 25px 0 0;
    }
    .modal-header-div{
        display: flex;
        flex-direction: row;
        width: 90%;
        padding-left: 25%;
        margin-top: 10%;
        color: var(--strong-grey);
    }
    .modal-heading{
        margin-top: inherit;
        font-size: 22px;
    }

    .logomodalcont {
        width: 40%;
        padding-left: 2%;
    }
    .modalheading{
        font-family: var(--primary-font);

    }
    .modal-body{
        padding: 20px 16px;
        background-color: white;
        display: flex;
        border-radius: 0 0 25px 25px;
        color: var(--strong-grey);
        justify-content: center;
    }
    .login{
        display: flex; 
        flex-direction: column;
        text-align: center;
        width: 75%;
    }
    .emaildiv{
        width: 30%;
        display: flex;
    }

    .passworddiv {
        width: 30%;
        margin-top: 2%;
        display: flex;

    }
    form label{
        margin-left: 5px;
        font-size: small;
    }
     .modalbody label{
         font-size: 90%;
     }

    input { 
        border: 1px solid var(--strong-grey);
        width: 90%;
        border-radius: 5px;
    }
    .logomodal {
        width: 100%;
    }
.forgotpass {
    text-decoration: none;
    color: grey;
    font-size: smaller;
    text-align: initial;
    margin-top: 1%;
}
.forgotpass:hover {
    text-decoration: underline;
    color: black;
}

.loginbutton {
    width: 38%;
    justify-content: center;
    margin-top: 10%;
    font-size: medium;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    margin-left: 28%;
    margin-bottom: 3%;
    padding: 2%;
}

.loginbutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.redirectregister {
    text-decoration: none;
    color: grey;
    font-size: small;
    margin-bottom: 5%;
    margin-right: 5%;
}

.redirectregister:hover{
    text-decoration: underline;
    color: black;
}
.register {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.register label, .register input{
    text-align: initial;
    margin: 3px 0;
}

.register, .login i{
    margin-top: 3px;
   margin-left: 3px;
}

.register p{
    width: 90%;
}

.checkboxnews {
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 10%;
    height: 25px;
    margin-top: 10%;
}
 .checkboxnews p {
    margin: auto;
}
/*** Last-section ***/

.last-miscellaneous {
    color: white;
    padding: 20px;
    background: var(--strong-grey);
    text-align: center;
    font-size: 16px;
    font-family: var(--primary-font);
}

.square {
    margin-bottom: 1em;
}

.last-miscellaneous h2 {
    margin: 0;
}

.last-line {
    border: 1px solid;
}

.instagram {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.news-form {
    margin-top: 10px;
}

/* Categorias */
.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    flex-direction: row;
    width: 900px;
    text-align: center;
    margin: auto;
}

.categoria {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.product {
    display: flex;
}

.prod {
    width: 300px;
}

.product a{
    text-decoration: none;
    color: black;
}

.desvanecer {
    display: inline-block;
    position: relative;
}

.desvanecer article{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    width: min-content;
    padding-left: 70px;
}

.image:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.link {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
}

.image img{
    width: 250px;
}

 .nombre {
    font-family: var(--primary-font);
    padding-top: 30px;

 }

 .precio {
    font-family: var(--secundary-font);
 }

 /* Detalle de producto */

.img-extra{
    display: flex;
    width: fit-content;
    flex-direction: row;
}

 .img-extra img{
     width: 100px;
 }

 .img-principal {
     display: flex;
    align-self: flex-start;
 }

 .img-principal img{
     width: 450px;
     padding-left: 150px;
     padding-bottom: 150px;
 }

 .descripcion-header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-family: var(--primary-font);
 }

.about {
    font-family: var(--secundary-font);
}

 .add-to-cart{
     background-color: black;
     color: white;
     border-radius: 15px;
     padding-top: 7px;
     padding-bottom: 7px;
     font-family: var(--secundary-font);
 }

/* Footer */
.btn-news {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

/*** Footer ***/

footer {
    text-align: center;
    background-color: var(--dark-grey);
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    color: white;
}

/*** Media Querys ***/

@media screen and (min-width: 320px) {

    /*** Header ***/

    .logo a {
        max-width: 5em;
    }

}

@media screen and (min-width: 769px) {
    
    /*** Header ***/
    .logo {
        padding: .5em;
    }

    .header-center {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1em;
    }

    .menu {
        display: flex;
    }
    
    .menu ul {
        display: flex;
        width: 90%;
        margin: 0;
        padding: 2px 0;
        justify-content: space-between;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .header-right {
        align-items: center;
        justify-content: space-evenly;
    }

    .header-btns-container {
        display: block;
        font-size: 16px;
    }

    .header-btn {
        border: 2px solid black;
        background: white;
        padding: 4px;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .header-btn:hover {
        background: black;
        color: white;
    }

    .btns-line {
        border: 1px solid black;
    }

    /*** Last-section ***/

    .last-miscellaneous {
        display: flex;
        justify-content: space-around;
    }

    .desapear-line {
        display: none;
    }
    
}
   

@media screen and (min-width: 1024px) {

}