* {
    box-sizing: border-box;
}

/* Variables */

:root {
    --light-grey       : #F2F2F2;
    --intermediate-grey: #E8E8E8;
    --strong-grey      : #666666;
    --dark-grey        : #333333;
    --primary-font     : 'Roboto', sans-serif;
    --secundary-font   : 'Open Sans', sans-serif;
} 

/* Container */

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
}

/*** Body ***/

body {
    background: var(--light-grey);
}
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 300%;
    animation: cambio 40s infinite;
    animation-direction: initial;
}

.slider li {
    list-style: none;
    width: 100%;
}
 .slider img {
    width: 100%;
    height: 550px;

}
@keyframes cambio {
    0% {margin-left: 0;}
    28% {margin-left: 0;}
    33% {margin-left: -100%;}
    62% {margin-left: -100%;}
    67% {margin-left: -200%;}
    95% {margin-left: -200%;}
    100% {margin-left: 0%;}

}

/*** Carrousel ***/

.most-sale-container {
    width: 100%;
    
}
.most-sale-title h2{
    margin: auto;
    padding: 9px;
}

.most-sale-title a{
    margin-top: 3.5%;
    margin-right: 1%;
    text-decoration: none;
    color: black;
}
.most-sale-title a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.most-sale-title{
    width: 85%;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: auto;
}
.carrousel-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
.section-container{
    width:100%;
    display: flex;
    justify-content: center;
}
.most-sale-section {
    width: 75%;
    font-size: small;
}

.most-sale-section img {
    width: 100%;
}
.most-sale-section article h3{
    font-size: small;
}
.botonatras, .botonadelante{
    z-index: 1;
    font-size: 30px;
    width: 16%;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 1px grey;
    background-color: black;
    opacity: 0.3;
    padding: 9px;
    color: white;
    margin-top: 11%;
}

.botonatras:hover, .botonadelante:hover{
    cursor: pointer;
    opacity: 0.7;
}
/*** Header ***/

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    /* background: var(--light-grey); */
    font-family: var(--primary-font);
    font-size: 20px;
}

.header-right {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: none;
}

.header-btns-container {
    display: none;
}

.logo {
    margin: 0;
    padding: .2em;
}

.logo a {
    display: flex;
}

.nav-search {
    display: flex;
}

.nav-search-input {
    width: 90%;
    border: none;
    font-size: 1em;
}

.nav-search-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.burger-menu,
.cart-btn {
    text-align: center;
    cursor: pointer;
}

.loginbtn {
    
        border: 2px solid black;
        background: white;
        padding: 4px;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;

}

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5) ;
    
    }
    .contenido-modal{
        position: relative;
        background-color: white;
        margin: auto;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        animation-name: modal;
        animation-duration: 1s;
        margin-top: 10%;
        width: 100%;
        border-radius: 10px;
    }
    @keyframes modal {
        from{top: -330px; opacity: 0;}
        to {top: 0; opacity: 1;}
    }
    .close{
        color:black;
        font-size: 30px;
        font-weight: bold;
    }
    .close:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header{
        padding: 8px 16px;
        color:black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 25px 25px 0 0;
    }
    .modal-header-div{
        display: flex;
        flex-direction: row;
        width: 90%;
        padding-left: 25%;
        margin-top: 10%;
        color: var(--strong-grey);
    }
    .modal-heading{
        margin-top: inherit;
        font-size: 22px;
    }

    .logomodalcont {
        width: 40%;
        padding-left: 2%;
    }
    .modalheading{
        font-family: var(--primary-font);

    }
    .modal-body{
        padding: 20px 16px;
        background-color: white;
        display: flex;
        border-radius: 0 0 25px 25px;
        color: var(--strong-grey);
        justify-content: center;
    }
    .login{
        display: flex; 
        flex-direction: column;
        text-align: center;
        width: 75%;
    }
    .emaildiv{
        width: 30%;
        display: flex;
    }

    .passworddiv {
        width: 30%;
        margin-top: 2%;
        display: flex;

    }
    form label{
        margin-left: 5px;
        font-size: small;
    }
     .modalbody label{
         font-size: 90%;
     }

    input { 
        border: 1px solid var(--strong-grey);
        width: 90%;
        border-radius: 5px;
    }
    .logomodal {
        width: 100%;
    }
.forgotpass {
    text-decoration: none;
    color: grey;
    font-size: smaller;
    text-align: initial;
    margin-top: 1%;
}
.forgotpass:hover {
    text-decoration: underline;
    color: black;
}

.loginbutton {
    width: 38%;
    justify-content: center;
    margin-top: 10%;
    font-size: medium;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    margin-left: 28%;
    margin-bottom: 3%;
    padding: 2%;
}

.loginbutton:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.redirectregister {
    text-decoration: none;
    color: grey;
    font-size: small;
    margin-bottom: 5%;
    margin-right: 5%;
}

.redirectregister:hover{
    text-decoration: underline;
    color: black;
}
.register {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
}
.register label, .register input{
    text-align: initial;
    margin: 3px 0;
}

.register p{
    width: 90%;
}

.checkboxnews {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.checkbox {
    width: 10%;
    height: 25px;
    margin-top: 10%;
}
 .checkboxnews p {
    margin: auto;
    width: 90%;
}
.emaildiv label, .passworddiv label {
    margin-left: 4px;
}

/*** Cart ***/

.background-cart {
    display: none;
    position: fixed;
    z-index: 5;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.cart {
    position: fixed;
    z-index: 10;
    right: 0px;
    animation-name: cart;
    animation-duration: 1s;
    width: 100vw;
    max-width: 600px;
    background-color: var(--intermediate-grey);
    border-radius: 15px;
    font-family: var(--primary-font);
}

@keyframes cart {
    from{right: -300px; opacity: 0;}
    to {right: 0px; opacity: 1;}
}

.cart h3 {
    margin: 0px;
}

.cart h4 {
    margin: 0px;
}

.cart h2 {
    margin: 0;
}

.cart hr {
    margin: 0;
}

.cart p {
    margin: 0;
}


.cart-title {
    text-align: center;
    padding: 10px;
    position: relative;
}

.cart-close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.cart-subtitle {
   text-align: center;
   padding: 5px;
}

.cart-hero {
    padding: 15px 5px;
    display: flex;
}

.cart-hero-left {
    width: 40%;
    padding: 0 15px;
    text-align: center;
}

.cart-hero-left figure {
    margin: 0;
}

.cart-hero-left img {
    width: auto;
    max-width: 100%;
    max-height: 150px;
}

.cart-hero-center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.cart-hero-center input {
    width: 40px;
}

.cart-hero-center p {
    margin: 5px 0;
}

.cart-hero-center-plus {
    border-radius: 0 10px 10px 0;
}

.cart-hero-center-minus {
    border-radius: 10px 0 0 10px;
}

.cart-hero-right {
    align-self: flex-end;
    margin-right: 30px;
}

.cart-hero-trash {
    border: none;
    cursor: pointer;
}

.cart-half {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
}

.cart-calculate {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-calculate h3 {
    margin-bottom: 15px;
}

.cart-calculate button {
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.cart-calculate input {
    width: 100px;
}

.cart-total {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

.cart-btn-buy {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.cart-btn-buy button {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
}


/*** Last-section ***/

.last-miscellaneous {
    color: white;
    padding: 20px;
    background: var(--strong-grey);
    text-align: center;
    font-size: 16px;
    font-family: var(--primary-font);
}

.square {
    margin-bottom: 1em;
}

.last-miscellaneous h2 {
    margin: 0;
}

.last-line {
    border: 1px solid;
}

.instagram {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.news-form {
    margin-top: 10px;
}

/* Categorias */
.todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    flex-direction: row;
    width: 900px;
    text-align: center;
    margin: auto;
}

.categoria {
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.product {
    display: flex;
}

.prod {
    width: 300px;
}

.product a{
    text-decoration: none;
    color: black;
}

.desvanecer {
    display: inline-block;
    position: relative;
}

.desvanecer article{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    width: min-content;
    padding-left: 70px;
    text-align: center;
}

.image:hover{
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.link {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
}

.image img{
    width: 250px;
}

 .nombre {
    font-family: var(--primary-font);
    padding-top: 30px;
    width: 200px;

 }

 .precio {
    font-family: var(--secundary-font);
 }

 

 /* Detalle de producto */

.imagenes{
    display: flex;
    justify-content: center;
}

.img-extra{
    display: flex;
    width: fit-content;
    flex-direction: column;
}

 .img-extra img{
    width: 100px;
 }

 .img-principal {
    display: flex;
    align-self: flex-start;
    width: fit-content;
 }

 .img-principal img{
     width: 350px;
     
 }

 .descripcion {
     text-align: center;
     padding-left: 200px;
     padding-right: 200px;
     padding-top: 40px;
 }

 .descripcion-header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-family: var(--primary-font);
 }

.about {
    font-family: var(--secundary-font);
}

.seleccion{
    display: block;
    text-align: center;
    padding-top: 90px;
    text-transform: uppercase;
}

 .add-to-cart{
     background-color: black;
     color: white;
     border-radius: 15px;
     padding-bottom: 7px;
     padding-top: 7px;
     font-family: var(--secundary-font);
 }

 .comprar{
     display: flex;
     justify-content: flex-end;
 }

 .related{
    padding-right: 200px;
    padding-left: 200px;
 }

/* Footer */
.btn-news {
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

/*** Footer ***/

footer {
    text-align: center;
    background-color: var(--dark-grey);
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    color: white;
}

/*** Media Querys ***/

@media screen and (min-width: 320px) {

    /*** Header ***/

    .logo a {
        max-width: 5em;
    }
    .contenido-modal{
        width: 100%;
        border-radius: 10px;
    }

}

@media screen and (min-width: 769px) {
    
    /*** Header ***/
    .logo {
        padding: .5em;
    }

    .header-center {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1em;
    }

    .menu {
        display: flex;
    }
    
    .menu ul {
        display: flex;
        width: 90%;
        margin: 0;
        padding: 2px 0;
        justify-content: space-between;
        list-style: none;
    }

    .menu a {
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    .header-right {
        align-items: center;
        justify-content: space-evenly;
    }

    .header-btns-container {
        display: block;
        font-size: 16px;
    }

    .header-btn {
        border: 2px solid black;
        background: white;
        padding: 4px;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }

    .header-btn:hover {
        background: black;
        color: white;
    }

    .btns-line {
        border: 1px solid black;
    }

    .contenido-modal{
        width: 75%;
        border-radius: 10px;
    }

    /*** Last-section ***/

    .last-miscellaneous {
        display: flex;
        justify-content: space-around;
    }

    .desapear-line {
        display: none;
    }
    
}
   

@media screen and (min-width: 1024px) {

    .contenido-modal{
        width: 35%;
        border-radius: 25px;
    }
}