<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>

    <div class="admin-container">
        <section class="admin-buttons">
            <div class="admin-button">
                <i class="far fa-image"></i>
                <p>New Pic</p>
            </div>
            <div class="admin-button">
                <i class="far fa-square"></i>
                <p>Marcos</p>
            </div>
            <div class="admin-button">
                <i class="fas fa-ruler-horizontal"></i>
                <p>Medidas</p>
            </div>
            <div class="admin-button">
                <i class="far fa-lightbulb"></i>
                <p>Categorías</p>
            </div>   
        </section>
        <div>

        </div>
    </div>

    <%- include('./partials/footer') %>
</body>
</html>