<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>
    <div class="slider">
        <ul>
            <li><img src="Images/Fondos/fondo1.jpg"> </li>
            <li><img src="Images/Fondos/fondo2.jpg"></li>
            <li><img src="Images/Fondos/fondo3.jpg"></li>
        </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %>
</body>
</html>