<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Pic</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Normalize -->
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <!-- Logo -->
            <figure class="logo">
                <a href="">
                    <img src="img/logo.jpeg"
                        alt="" width="100%">
                </a>
            </figure>
            <!-- Searcher -->
            <form class="nav-search" action="">
                <button class="nav-search-btn" type="submit"><i class="fas fa-search"></i></button>
                <input type="text" class="nav-search-input" placeholder="Buscar">
            </form>
            <!-- Burguer Menu -->
            <div class="burger-menu">
                <i class="fas fa-bars Burguer"></i>
            </div>
            <!-- Menu -->
            <nav class="menu">
                <ul>
                    <li><a href="">aquíHayUnLink</a></li>
                    <li><a href="">aquíHayUnLink</a></li>
                    <li><a href="">aquíHayUnLink</a></li>
                    <li><a href="">aquíHayUnLink</a></li>
                </ul>
            </nav>
            <!-- LogIn and Register -->
            <div class="logCart">
                <div class="btns">
                    <button>Iniciar Sesión</button>
                    <button>Crear Cuenta</button>
                </div>
            </div>
            <!-- Cart -->
            <div class="cart">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </header>
    
    
        <section class="last-misce">
            <div class="pay-options">
                <h2></h2>
            </div>
            <div class="send-contact">
    
            </div>
            <div class="social-networks">
    
            </div>
        </section>
        <footer>
            <p></p>
        </footer>
    </div>
</body>
</html>