<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <div>
        <%- include('./partials/header') %>
        <section class="product-info">
            <div class='img-extra'>
                <figure>
                    <img src="./images/animales/Buho.jpg" alt="">
                </figure>
                <figure>
                    <img src="./images/animales/Buho.jpg" alt="">
                </figure>
                <figure>
                    <img src="./images/animales/Buho.jpg" alt="">
                </figure>
            </div>
            <div class='img-principal'>
                <figure>
                    <img src="./images/animales/Buho.jpg" alt="">
                </figure>
            </div>
            <div class='product-info'>
                <p>Nombre</p>
                <h2>Precio</h2>
                <p>Medios de pago</p>
            </div>
            <div class='tarjetas'>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class='dropdowns'>
                <p>Marco</p>
                <p>Tamaño</p>
                <p>Cantidad</p>
            </div>
            <button class='add-to-cart'>Agregar al carrito</button>
        </section>
        <section class='descripcion'>
            <h2 class='descripcion-header'>Sobre este producto</h2>
            <article class='about'> Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, placeat reprehenderit. Magni illo consectetur culpa voluptas amet voluptatem, debitis rem tempora vero eligendi reiciendis laborum quasi animi aliquid quo quidem.
            Id necessitatibus commodi cum at quas. Voluptatibus eligendi corporis ad, officia consequatur ducimus accusantium optio fuga obcaecati distinctio? Itaque commodi ipsum nam, consequuntur voluptates voluptatibus. Nihil quas libero esse aliquid.
            Numquam, excepturi praesentium incidunt esse quod voluptatum autem quidem ratione suscipit voluptate ex minus, odio hic quaerat pariatur dignissimos, ut deleniti nulla! Dolore enim saepe autem totam praesentium voluptatum. Hic!
            Fuga, quidem sint magnam recusandae quia autem corporis vel aliquam debitis quibusdam. Asperiores nesciunt doloremque minus consequuntur et sed autem, culpa tempora fugit, nobis reiciendis enim dolorum quas. Quisquam, corporis.</article>
            <h2 class='descripcion-footer'> <br> </h2>
        </section>

        <section>
            <h2 class='descripcion-header'>Productos relacionados</h2>
            <div>
                <figure>
                    <img src="" alt="">
                </figure>
                <figure>
                    <img src="" alt="">
                </figure>
                <figure>
                    <img src="" alt="">
                </figure>
            </div>
        </section>





        <%- include('./partials/footer') %>  
    </div>
</body>
</html>